<% layout('_inc/layout') -%>

<aside class="sidebar" id="sidebar--right">
	<a href="#" class="sidebar__close-btn">
        <span class="ion">&#xf2d7;</span>close
    </a>
	<img src="http://placecage.com/600/350" />
	<p>
		Ola, I'm Joost Krijnen a digital & graphic designer.
		I work for <a href="#">Digital Natives</a> a digital
		agency based in Amsterdam.
	</p>
	<p>
		I try to create things which people enjoy
		using, reading and interacting with.
	</p>
	<p>
		Also, I try to create beauty.
	</p>
	<p>
		<a href="#" class="">@krijnenbeebie</a>
	</p>
	<footer class="sidebar__footer">
		<p>Some of my work</p>
	</footer>
</aside>

<div class="container">

    <section class="col col--half">
        <div class="message">
            <p><a href="#">@zeplin_io</a> is awesome! Finally a tool for better collaboration between designers
            using @sketchapp and front-end devs!!</p>
            <footer class="message__footer">
                <a href="#">https://zeplin.io</a>
            </footer>
        </div>
    </section>
    <section class="col col--half">
        <div class="message message--right">
            <p>Sexism 1 on 1 by Crystal (tool that customizes your communication based on personality profiles)</p>
			<img src="http://placecage.com/600/300" />
            <footer class="message__footer">
                <a href="#">https://crystalknows.com/home</a>
            </footer>
        </div>
    </section>

</div>