<% layout('_inc/layout') -%>

<div class="container">

    <section class="col col--half">
        <div class="message">
            <p><a href="#">@zeplin_io</a> is awesome! Finally a tool for better collaboration between designers
            using @sketchapp and front-end devs!!</p>
            <footer class="message__footer">
                <a href="#">https://zeplin.io</a>
            </footer>
        </div>
    </section>
    <section class="col col--half">
        <div class="message message--right">
            <p>Sexism 1 on 1 by Crystal (tool that customizes your communication based on personality profiles)</p>
			<img src="http://placecage.com/600/300" />
            <footer class="message__footer">
                <a href="#">https://crystalknows.com/home</a>
            </footer>
        </div>
    </section>

</div>