<% layout('_inc/layout') -%>

<h3>Train together with your favorite athletes</h3>
<p>High Quality Personalized Fitness Content</p>
<a class="btn" href="/signup">Sign up for free</a>

<section class="iphone-preview">
    <img src="/img/peak-iphone-preview-black.png" alt="Peak Preview" />
</section>