<% layout('_inc/layout') -%>

<div class="container">

    <div id="message-template" style="display: none;">
        <div class="message">
            <p>{{text}}</p>
            <footer class="message__footer">
                <a href="#">https://zeplin.io</a>
            </footer>
        </div>
    </div>

    <section class="col col--half" data-feed data-feed-username="kvendrik"></section>

    <section class="col col--half">
        <div class="message message--right">
            <p>Sexism 1 on 1 by Crystal (tool that customizes your communication based on personality profiles)</p>
			<img src="http://placecage.com/600/300" />
            <footer class="message__footer">
                <a href="#">https://crystalknows.com/home</a>
            </footer>
        </div>
    </section>

</div>