<header class="masthead">
    <div class="container container--wide">

        <div class="col col--one-third masthead__profile-info">
            <a href="#" class="a--clean"
            data-toggle-class="sidebar-open--left"
            data-toggle-class-target="body">
                <h4 class="no-margin-btm">@kvendrik</h4>
                <small class="text-accent--secondary">who?<span class="arrow arrow--right"></span></small>
            </a>
        </div>

        <div class="col col--one-third text-center">
            <h1 class="h2 no-margin-btm">Form & Function</h1>
            <h2 class="h6 text-light text-accent--secondary text-small">thoughts for the digital age</h2>
        </div>

        <div class="col col--one-third masthead__profile-info text-right">
            <a href="#" class="a--clean"
            data-toggle-class="sidebar-open--right"
            data-toggle-class-target="body">
                <h4 class="no-margin-btm">@krijnenbeebie</h4>
                <small class="text-accent--secondary"><span class="arrow"></span>who?</small>
            </a>
        </div>

    </div>
</header>