<aside class="sidebar sidebar--right">
    <a href="#" class="sidebar__close-btn"
    data-toggle-class="sidebar-open--right"
    data-toggle-class-target="body">
        <span class="ion">&#xf2d7;</span>close
    </a>
    <div class="sidebar__img">
       <img src="http://placecage.com/600/350" />
    </div>
    <p>
        Ola, I'm Joost Krijnen a digital & graphic designer.
        I work for <a href="#">Digital Natives</a> a digital
        agency based in Amsterdam.
    </p>
    <p>
        I try to create things which people enjoy
        using, reading and interacting with.
    </p>
    <p>
        Also, I try to create beauty.
    </p>
    <p>
        <a href="#"><span class="ion">&#xf243;</span>@krijnenbeebie</a>
    </p>
</aside>

<aside class="sidebar sidebar--left">
    <a href="#" class="sidebar__close-btn"
    data-toggle-class="sidebar-open--left"
    data-toggle-class-target="body">
        <span class="ion">&#xf2d7;</span>close
    </a>
    <div class="sidebar__img">
       <img src="http://placecage.com/600/350" />
    </div>
    <p>
        Ola, I'm Joost Krijnen a digital & graphic designer.
        I work for <a href="#">Digital Natives</a> a digital
        agency based in Amsterdam.
    </p>
    <p>
        I try to create things which people enjoy
        using, reading and interacting with.
    </p>
    <p>
        Also, I try to create beauty.
    </p>
    <p>
        <a href="#"><span class="ion">&#xf243;</span>@krijnenbeebie</a>
    </p>
</aside>