<aside class="sidebar sidebar--right">
    <a href="#" class="sidebar__close-btn"
    data-toggle-class="sidebar-open--right"
    data-toggle-class-target="body">
        <span class="ion">&#xf2d7;</span>close
    </a>
    <div class="sidebar__img">
       <img src="/img/joost-krijnen.jpg" />
    </div>
    <p>
        Ola, I'm Joost Krijnen a digital & graphic designer.
        I work for <a href="#">Digital Natives</a> a digital
        agency based in Amsterdam.
    </p>
    <p>
        I try to create things which people enjoy
        using, reading and interacting with.
    </p>
    <p>
        Also, I try to create beauty.
    </p>
    <p>
        <a href="http://twitter.com/krijnenbeebie"><span class="ion">&#xf243;</span>@krijnenbeebie</a>
    </p>
</aside>

<aside class="sidebar sidebar--left">
    <a href="#" class="sidebar__close-btn"
    data-toggle-class="sidebar-open--left"
    data-toggle-class-target="body">
        <span class="ion">&#xf2d7;</span>close
    </a>
    <div class="sidebar__img">
       <img src="/img/koen-vendrik.jpg" />
    </div>
    <p>
        <p><a href="http://www.youtube.com/watch?v=YjQ1xD6UL-4&amp;t=0m6s">How you doing?</a>
        I’m Koen, a full stack software developer, UX fanatic and co-founder of
        <a href="http://whitespell.com">Whitespell</a> and <a href="http://duxilio.com">Duxilio</a>.</p>
    </p>
    <p>
        I try to create software that people enjoy using.
    </p>
    <p>
        Also, I enjoy beauty.
    </p>
    <p>
        <a href="http://twitter.com/kvendrik"><span class="ion">&#xf243;</span>@kvendrik</a>
    </p>
</aside>