* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	font: $main-weight $size-m $main-family;
	color: $base-color;
	line-height: $line-height;
	overflow: hidden;
	background-color: $light-blue-lightest;
}

.container {
	width: 1024px;
	margin: 0 auto;

	&.container--wide {
		width: 1200px;
	}
}