* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html,body {
	height: 100%;
}

body {
	font: $main-weight $size-m $main-family;

	color: $base-color;
	line-height: $line-height;

	background-color: $light-blue-lightest;
}

.container {
	width: $container-desktop-sm;
	margin: 0 auto;

	&.container--wide {
		width: $container-desktop-md;
	}
}