* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	font: $main-weight $size-m $main-family;
	color: $base-color;
	line-height: $line-height;
	overflow: hidden;
}

.bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;

	//background-image: url(/img/skater.jpg);
	background-color: $dark;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	&:after {
		content: '';

		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		background-color: $dark;
		opacity: .8;

		z-index: 1;
	}
}

.container {
	width: $md-container-width;
	margin: 0 auto;
	overflow: hidden;
}

.content-wrapper {
	margin-top: 10em;
}