.col {
    width: 100%;
    overflow: hidden;
}

.col.col--overflow {
    overflow: visible;
}

.col.col--pull-right {
    float: right !important;
}

.col.col--two-third {
    @include column(8);
}

.col.col--one-third {
    @include column(4);
}

.col.col--half {
    @include column(6);
}