$md-container-width: 738px;
$sm-container-width: 550px;
$xs-container-width: 90%;


//COLORS
$white: #fff;
$base-color: $white;
$dark: #333;
$accent: #2e88bf;
$red: #E35354;


//TYPOGRAPHY
$main-family: 'aktiv-grotesk-std', 'Source Sans Pro', Helvetica, Arial, sans-serif;

$main-weight: 300;
$bold-weight: 500;

$line-height: 1.5em;
$heading-line-height: 1.3em;

$size-s: .9em;
$size-m: 16px;
$xs-size-m: 16px;

//SPACING
$margin-s: 10px;
$margin-m: 20px;
$margin-l: 40px;

$padding-m: $margin-s $margin-s+5;


//BORDERS
$border-style: solid;
$border-width: 1px;
$border-radius: 2px;


//ANIMATIONS
$transition-duration: .3s;
$transition-timing: ease;