//CONTAINERS
$container-desktop-md: 1200px;
$container-desktop-sm: 1024px;
$container-tablet-md: 750px;
$container-tablet-sm: 600px;
$container-mobile: 90%;


//COLORS
$white: #fff;
$black: #141518;

$base-color: #0b253b;
$orange: #ff6b32;
$blue: #85beef;

$light-blue: #c8f2f8;
$light-blue-lighter: #dbf7f5;
$light-blue-lightest: #eefffe;


//TYPOGRAPHY
$main-family: 'tablet-gothic', 'Source Sans Pro', Helvetica, Arial, sans-serif;

$light-weight: 300;
$main-weight: 500;
$bold-weight: 900;

$line-height: 1.5em;
$heading-line-height: 1.3em;

$size-xs: .75em;
$size-s: .85em;
$size-m: 22px;
$desktop-sm-size-m: 20px;
$tablet-md-size-m: 18px;
$mobile-size-m: 16px;

//SPACING
$margin-xs: .25em;
$margin-s: .5em;
$margin-m: 1em;
$margin-l: 1.5em;

$padding-m: $margin-s $margin-s+5;


//BORDERS
$border-style: solid;
$border-width: 2px;
$border-radius: 0;


//ANIMATIONS
$transition-duration: 1s;
$transition-duration-fast: .3s;
$transition-timing: ease;