.message {
	padding: $margin-s $margin-m;

	background-color: $white;
	@include border();

	box-shadow: 5px 5px 0 $light-blue-lighter;
	margin-bottom: $margin-l;

	font-weight: $bold-weight;

	opacity: 0;
	overflow: hidden;

	@include transition((max-height, opacity));

	&__img, p {
		margin: 0;
		margin-bottom: $margin-xs;
	}

	&__img {
		overflow: hidden;
		max-height: 200px;
		cursor: zoom-in;
		line-height: 0;

		img {
			margin: 0;
		}

		&.message__img--expanded {
			max-height: none;
			cursor: zoom-out;
		}
	}

	// &:before {
	// 	content: '';

	// 	position: absolute;
	// 	z-index: -1;
	// 	left: 0;

	// 	width: 0;
	// 	height: 2px;
	// 	background-color: $light-blue;

	// 	@include transition(width);
	// }

	&.message--visible {
		opacity: 1;
	}

	&.message--right {
		&:before {
			left: auto;
			right: 0;
		}
	}

	&__footer {
		margin-top: $margin-m;
		padding-top: $margin-xs;
		@include border(top);

		font-size: $size-s;
		font-weight: $light-weight;
	}
}