.sidebar {
	position: fixed;
	top: 0;
    right: -330px;
	bottom: 0;
    z-index: 1;

    transform: translateX(0);
    box-shadow: inset 5px 0 0 darken($black, 10%);

	width: 330px;
	background-color: $black;

    padding: $margin-m;
    padding-top: $margin-l;

    overflow: hidden;

    font-size: $size-xs;
    line-height: $line-height;
    color: $white;

    &__img {
        height: 220px;
        overflow: hidden;
        margin-bottom: $margin-m;

        img {
            width: 100%;
            min-height: 100%;
        }
    }

    &__close-btn {
        margin-bottom: $margin-l;
        color: $white;
        display: block;

        .ion {
            font-size: $size-m;
            position: relative;
            top: 2px;
            margin-right: $margin-xs;
        }
    }

    &__footer {
        @include border(top, $base-color);
        padding-top: $margin-s;
    }

    &.sidebar--left {
        right: auto;
        left: -330px;
        transform: translateX(0);
        box-shadow: inset -7px 1px 0 0px darken($black, 10%);

        .sidebar__close-btn {
            text-align: right;
        }
    }
}

body, .sidebar {
    @include transition(transform, $duration: $transition-duration-fast);
}

body.sidebar-open--right {
    transform: translateX(-330px);

    .sidebar--right {
        transform: translateX(0);
    }
}

body.sidebar-open--left {
    transform: translateX(330px);

    .sidebar--left {
        transform: translateX(0);
    }
}