
//medium desktop
@include media($container-desktop-sm, $container-desktop-md){
    .container {
        &.container--wide {
            width: $container-desktop-sm;
        }
    }
}

//small desktop
@include media($container-tablet-md, $container-desktop-sm){
    body {
        font-size: $desktop-sm-size-m;
    }

    .container {
        width: $container-tablet-md;

        &.container--wide {
            width: $container-tablet-md;
        }
    }
}

//tablet
@include media($container-tablet-sm, $container-tablet-md){
    body {
        font-size: $tablet-md-size-m;
    }

    .container {
        width: $container-tablet-sm;

        &.container--wide {
            width: $container-tablet-sm;
        }
    }
}

//mobile
@include media($max-width: $container-tablet-sm){
    body {
        font-size: $mobile-size-m;
    }

    .container {
        width: $container-mobile;

        &.container--wide {
            width: $container-mobile;
        }
    }

    .col.col--half {
        @include column(12);
    }
}